
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./components/pixel/PixelFont.css');
@import url('./components/pixel/PixelCursor.css');

/* Add pixel global tweaks for outline and no anti-aliasing on text, default backgrounds */
body, html {
  font-family: var(--pixel-font, monospace) !important;
  background: #e2fde4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --pixel-green: #badc5b;
  --pixel-lilac: #cbbaff;
  --pixel-mint: #aef6c7;
  --pixel-sky: #bbeaff;
  --pixel-pink: #ffe6ef;
}
*, *::before, *::after {
  box-sizing: border-box !important;
  font-family: var(--pixel-font, monospace) !important;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  border-radius: 0 !important;
}
.pixel-outline {
  outline: 1.5px solid #233f24 !important;
  outline-offset: -2px !important;
}

.no-radius { border-radius: 0 !important; }

/* Remove tap highlight */
*:focus {
  outline: 2px solid #233f24 !important;
}

/* Remove scrollbars for clean UI */
body::-webkit-scrollbar {
  display: none !important;
}

/* Prevent text selection for all except inputs */
body, div, nav, section, aside, span, li {
  user-select: none;
}
input, textarea {
  user-select: text;
}

/* For team avatars - align images pixelated */
img.pixel {
  image-rendering: pixelated;
}
